@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 991px) {

    body {
        background-image: linear-gradient(to top, #49a04c, #5f2c82);
    }
    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        height: 100%;
    }
    div#formulario > q {
        left: 65%;
        transform: translateX(-65%);
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, #49a04c, #5f2c82);
    }
    section#login {
        width: 950px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    }
    div#formulario > q {
        left: 25%;
        transform: translateX(-25%);
    }
}


